[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-mail = "*"
bootstrap-flask = "*"
flask-moment = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3.8"
